
/*활동과정 + 중간제목 리스트*/

.Activity_Process h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.Activity_Process h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

/*왼쪽 부분, 오른쪽 부분의 나열*/

.Activity_Process {
    margin-bottom: 20px;
}

.Activity_Process div {
    text-align: center;
    display: inline-block;
}

/* 내용의 왼쪽 부분 (글 + 버튼) */


.Activity_Process .leftbox {
    text-align: left;
    width: 300px;
    margin-left: 90px;
    margin-right: 35px;
    line-height: 1.5em;
}

.Activity_Process .leftbox p{
    font-size: 16px;
}

.Activity_Process .leftbox #orangebox {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 2.5em;
    border-radius: 4px;
    background-color: rgb(248, 155, 0);
    color:white;
    height:40px; width:300px;
}

/* 내용의 오른쪽 부분 (check 표시 + 리스트) */

.Activity_Process .rightbox p{
    text-align: left;
    font-size: 16px;
    line-height: 2em;
}