@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

/*메뉴 바*/
#topMenu {
  width: 1070px;
  height: 100px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
#topMenu ul li {
  list-style: none;
  color: rgb(48, 156, 228);
  float: left;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}

#topMenu .topMenuNoticeBoard {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 156, 228); /*게시판 다른 색이면 바꾸기*/
  display: block;
  width: 270px;
  height: 100px;
  font-size: 32px;
  font-weight: bold;
}
#topMenu .menuLink {
  text-decoration: none;
  color: rgb(48, 156, 228);
  display: block;
  width: 170px;
  font-size: 18px;
  font-weight: bold;
}
#topMenu .writingButton {
  display: block;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(248, 155, 0);
  border-radius: 0.2rem;
}
