.crew {
  height: auto;
  margin: 0 0;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.crew_text {
  text-align: center;
  font-size: 18px;
}

.crew_header {
  display: block;
  margin: 30px;
}

.crew_header h3 {
  font-size: 32px;
  margin: 30px;
}

.crew_header p {
  font-size: 18px;
  margin: 30px;
} /* 헤더 css 끝 */

.plan {
  margin-top: 20px;
  text-align: center;
}

.plan > div {
  display: flex;
  justify-content: center;
}

.crew_plan {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin: 20px 37.5px 0px 37.5px; /* 왼쪽과 오른쪽에 37.5만큼 줌으로써 사진 사이가 75px만큼 벌어지게 했습니다. */
}

.plan_box {
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  line-height: 25px;
}

.plan_box strong {
  font-size: 24px;
}

.plan_box p {
  font-size: 16px;
  text-align: left;
  margin-top: 35px;
} /* 계획 섹션 css 끝 */

.year_box {
  display: block;
  position: relative;
  width: 300px;
  height: 50px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00bbff;
}

.year_box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 15px 10px;
  border-color: #00bbff transparent transparent transparent;
}

.yearBox form {
  height: 50px;
}

.select_class {
  appearance: none;
  width: 100%;
  height: 100%;
  border-style: none;
  color: #fff;
  background-color: #00bbff;
  text-align-last: center;
} /* 기수 css 끝*/

.admin_profile,
.crew_profile {
  font-size: 28px;
  width: 725px;
  margin-left: auto;
  margin-right: auto;
}

.crew_profile {
  height: auto;
}

.admin_profile h4,
.crew_profile h4 {
  text-align: center;
  margin: 30px;
  margin-bottom: 10px;
}

.crew_profile h4 {
  margin-top: 45px; /* 하나로 묶는 바람에 위 공백 20px이 생기게 되서 나머지 45px을 더 늘려줌으로써 총 공백 65px 생성 */
}

.admin_table {
  text-align: center;
  padding-bottom: 20px;
}

.crew_table {
  height: 380px;
}

.admin_table,
.crew_table {
  width: 100%;
}

.profile_img {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 30px;
  margin-top: 0;
  padding: 0;
}

.profile_name {
  font-size: 16px;
  padding-top: 60px;
  text-align: center;
  line-height: 2;
}

.profile_box {
  width: 300px;
  display: none;
  position: relative;
  text-align: left;
  right: 235%;
  padding: 15px 20px;
  margin-top: 15px;
  color: #fff;
  background-color: #808080;
}

.profile_box p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

.profile_box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 93%;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 15px 10px;
  border-color: transparent transparent #808080;
}

.profile_box > .position_name {
  font-size: 16px;
}

.profile_img {
  margin-top: 20px;
  margin-bottom: 51px; /* 글자 h 사이즈 31px과 이미지 아래 20px를 합한 51로 넣었습니다.*/
} /* 크루 섹션 css 끝 */

.yellow_layer {
  background-color: rgba(250, 250, 0, 0.5);
} /* 마우스에 따른 배경 색과 display on/off 기능 */
