@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"); /* 기본 폰트 */

.crew {
  text-align: center;
  font-size: 18px;
}

.crew-header {
  display: block;
  margin: 30px;
}

.crew-header h3 {
  font-size: 32px;
  margin: 30px;
} /* 헤더 css 끝 */

.crewPlan {
  text-align: center;
}

.crewPlan > div {
  display: flex;
  justify-content: center;
}

.crewPlan article {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px 37.5px 0px 37.5px; /* 왼쪽과 오른쪽에 37.5만큼 줌으로써 사진 사이가 75px만큼 벌어지게 했습니다. */
}

.crewPlan article:first-child {
  background-image: url("../img/bg_comee_\ distinction_01.jpg");
}

.crewPlan article:nth-last-child(1) {
  background-image: url("../img/bg_comee_\ distinction_03.jpg");
}

.crewPlan article:nth-last-child(2) {
  background-image: url("../img/bg_comee_\ distinction_02.jpg");
}

.crewPlan-info {
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.crewPlan-info strong {
  font-size: 24px;
}

.crewPlan-info p {
  font-size: 16px;
  text-align: left;
  margin-top: 35px;
} /* 계획 섹션 css 끝 */

.theYear-box {
  display: block;
  position: relative;
  width: 300px;
  height: 50px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00bbff;
}

.theYear-box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 15px 10px;
  border-color: #00bbff transparent transparent transparent;
}

.theYear-box span {
  display: block;
  padding-top: 15px;
  font-size: 16px;
  color: #fff;
  text-align: center;
} /* 기수 섹션 css 끝*/

.imgCManage h4,
.imgCrew h4 {
  font-size: 28px;
  text-align: center;
}

.imgCM {
  text-align: center;
  margin: 30px;
}

.imgCM-img,
.imgCrew-img {
  display: inline-block;
  background: url("../img/프로필 이미지.png") no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin: 0 30px;
  padding: 0;
}

.img-text {
  font-size: 16px;
  padding-top: 60px;
  text-align: center;
}

.theInformation-box {
  width: 300px;
  display: block;
  position: relative;
  font-size: 16px;
  text-align: left;
  right: 235%;
  padding: 15px 20px;
  margin-top: 15px;
  color: #fff;
  background-color: #808080;
}

.theInformation-box p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

.theInformation-box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -25%;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 15px 10px;
  border-color: transparent transparent #808080;
} /* 크루 섹션 (운영진) css 끝 */

.imgCrew h4 {
  margin-top: 65px;
  margin-bottom: 30px;
}

.imgCrew-img {
  margin-bottom: 61px; /* 글자 h 사이즈 21px과 이미지 사이의 40px를 합한 61로 넣었습니다.*/
}

.imgCrew {
  width: 725px;
  margin-left: auto;
  margin-right: auto;
}

.imgCrew-table {
  text-align: left;
} /* 크루 섹션 (부원) css 끝 */
