.crew {
  height: auto;
}

.crew_text {
  text-align: center;
  font-size: 18px;
}

.crew_header {
  display: block;
  margin: 30px;
}

.crew_header h3 {
  font-size: 32px;
  margin: 30px;
} /* 헤더 css 끝 */

.crew_plan {
  margin-top: 20px;
  text-align: center;
}

.crew_plan > div {
  display: flex;
  justify-content: center;
}

.crew_plan article {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px 37.5px 0px 37.5px; /* 왼쪽과 오른쪽에 37.5만큼 줌으로써 사진 사이가 75px만큼 벌어지게 했습니다. */
}

.crew_plan article:first-child {
  background-image: url("../img/bg_comee_\ distinction_01.jpg");
}

.crew_plan article:nth-last-child(1) {
  background-image: url("../img/bg_comee_\ distinction_03.jpg");
}

.crew_plan article:nth-last-child(2) {
  background-image: url("../img/bg_comee_\ distinction_02.jpg");
}

.plan_box {
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  line-height: 25px;
}

.plan_box strong {
  font-size: 24px;
}

.plan_box p {
  font-size: 16px;
  text-align: left;
  margin-top: 35px;
} /* 계획 섹션 css 끝 */

.year_box {
  display: block;
  position: relative;
  width: 300px;
  height: 50px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00bbff;
}

.year_box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 15px 10px;
  border-color: #00bbff transparent transparent transparent;
}

.combobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.combobox form {
  width: 300px;
  height: 50px;
  background-color: #00bbff;
}

.combobox select {
  /* ie 에서는 화살표가 계속 나옴 */
  appearance: none;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #00bbff;
}

.select_combobox {
  text-align-last: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* 기수 css 끝*/
.admin_profile,
.crew_profile {
  font-size: 28px;
  width: 725px;
  margin-left: auto;
  margin-right: auto;
}

.crew_profile {
  margin-bottom: 40px;
}

.admin_profile h4,
.crew_profile h4 {
  text-align: center;
  margin: 30px;
}

.crew_profile h4 {
  margin-top: 21px; /* 하나로 묶는 바람에 위 공백 44px이 생기게 되서 나머지 21px을 더 늘려줌으로써 총 공백 65px 생성 */
  margin-bottom: 30px;
}

.admin_table {
  text-align: center;
}

.admin_table,
.crew_table {
  width: 100%;
}

.profile_img {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 40px 30px;
  margin-top: 0;
  padding: 0;
}

.profile_name {
  font-size: 16px;
  padding-top: 60px;
  text-align: center;
  line-height: 2;
}

.profile_box {
  width: 300px;
  display: none;
  position: relative;
  text-align: left;
  right: 235%;
  padding: 15px 20px;
  margin-top: 15px;
  color: #fff;
  background-color: #808080;
}

.profile_box p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

.profile_box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 93%;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 15px 10px;
  border-color: transparent transparent #808080;
}

.profile_box > .position_name {
  font-size: 16px;
}

.profile_img {
  margin-bottom: 61px; /* 글자 h 사이즈 21px과 이미지 사이의 40px를 합한 61로 넣었습니다.*/
} /* 크루 섹션 css 끝 */

.profile_img div:hover {
  background-color: #ffff00;
  opacity: 30%;
}

.profile_img div:hover + span {
  display: block;
} /* 마우스에 따른 배경 색과 display on/off 기능 */
