
ol,
ul {
  list-style: none;
}

*{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
}


.setting-window-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px 15px 20px 15px;
    border: 1px solid #666666;
    width: 740px;
    overflow: auto;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.4);


}

  
  section {
    display: flex;
  }
  
 
  /* #btnSection */
  #btnSection {
    justify-content: center;
    display: flex;
  }
  #btnSection Button {
    width: 360px;
    height: 40px;
    float: left; /*가로로 배치*/
    border: none; /*버튼 테두리 없애기*/
    border-radius: 0.3rem;
  }
  
  #btnSection Button:first-child {
    margin-right: 20px;
    background-color: #309ce4;
    color: #ffffff;
  }
  
  #btnSection Button:last-child {
    background-color: #e0e0e0;
  }
  
  /*참여한 프로젝트*/
  #wrapper {
    display: block;
  }
  
  /*내가 작성한 글*/
  #wrapper2 {
    display: none;
  }
  
  /*좋아요 누른 글*/
  #myLove {
    display: none;
  }
  
  
  /* wrapper */

  .wrapper{
    display: block;
}
/*창 띄우기 설정*/
.setting-window {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/*하얀창*/
.setting-window-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px 15px 20px 15px;
    border: 1px solid #666666;
    width: 740px;
    overflow: auto;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.4);


}

/*위에 버튼모음*/
#setting-btn {
    display: flex;
    justify-content: space-evenly;
    
}

/*기본정보 버튼*/
.information-btn{
    border-radius: 4px;
    background-color: #309ce4;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    color: #ffffff;

}

/*기본정보 버튼 마우스 올렸을 때*/
.information-btn:hover{
    cursor: pointer;

}


/*팀원관리 버튼*/
.teamMember-btn{
    border-radius: 4px;
    background-color: #e0e0e0;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/*팀원관리 버튼 마우스 올렸을 때*/
.teamMember-btn:hover{
    cursor: pointer;

}


/*아래 버튼모음*/
#bottom-btn{
    overflow: auto;
}


/*삭제 버튼*/
.delete-btn{
    border-radius: 4px;
    background-color: rgb(223, 109, 97);
    width: 215px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
    color:  #ffffff;
    
}

/*취소 버튼*/
.cancel-btn{
    border-radius: 4px;
    background-color:#e0e0e0;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: right;
    margin-right: 15px;

}

/*수정반영 버튼*/
.commit-btn{ 
    border-radius: 4px;
    background-color: #309ce4;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: right;
    color:  #ffffff;

}


/*삭제,취소,수정반영 버튼 마우스 올렸을 때*/
.delete-btn:hover, .cancel-btn:hover, .commit-btn:hover{
    cursor: pointer;
}


/*컨테이너로 묶음*/
.wrapper{
    width: 620px;
    margin-left: 60px;
}

/*컨테이너로 묶음*/
.container{
    margin-top: 5px;
    overflow: auto;
}


/*불러오기 버튼*/
.empty-div{
    width: 250px;
    height: 100px;
    float: right;
}

/*불러오기 버튼*/
.load-btn{
    background-color:#e0e0e0;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    margin-left: 75px;


}

/*불러오기 버튼 마우스 올렸을 때*/
.load-btn:hover{
    cursor: pointer;

}

/*이미지 ~ 텍스트*/
.article-content{
    overflow: auto;
    margin-top: 15px;
}
.article-text{
    float: left;
    line-height: 100px;
}
.article-text2{
    float: left;
    line-height: 35px;
}

.article-text3{
    float: left;
    margin-top: 15px;
}

.article-img{
    float: right;
}

/*플러스 버튼*/
.plusButton{
    position: relative;
    top:3px;
}

/*플러스버튼 마우스 올렸을 때*/
.plusButton:hover{
    cursor: pointer;
}

/*태그 모양*/
.project-type {
    float: left;
    background-color: orange;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: 62px;
  }

  .project-type2 {
    float: left;
    background-color: orange;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: -10px;

  }

/*태그 모음*/
.tags{
    display: inline-block;
}

/*태그에 있는 마이너스 버튼*/
.tagMinus{
    position: relative;
    left: -25px;
}

/*태그에 마이너스 버튼 마우스 올림*/
.tagMinus:hover{
    cursor: pointer;

}

/*프로젝트명 텍스트칸*/
.project-name{
    float: right;
    width: 481px;
    height: 31px;
    border: 1px solid#666666;
    border-radius: 4px;
    padding-left: 15px;

}

/*대표 태그 셀랙트박스*/
.Main-tag{
    float: right;
    width: 500px;
    height: 35px;
    border: 1px solid #666666;
    border-radius: 4px;
    padding-left: 15px;

}


/*상태바 모음*/
.status-bar{
    height: 25px;
    display: flex;
    padding-left: 50px;
    margin-top: 0px;
}

/*화살표 모음*/
.arrow-content{
    height: 14px;
    display: flex;
    padding-left: 50px;
    margin-bottom: 30px;


}

/*각각 화살표*/
.arrow1, .arrow2, .arrow3, .arrow4{
    width: calc(100% / 4);
    text-align: center;
    font-size: 16px;

}

/*2~4 화살표 숨김*/
.arrow2, .arrow3, .arrow4{
    display: none;

}


/*개발 준비중 상태*/
.develop-ready{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #E74c3c;
    font-size: 14px;
    width: calc(100% / 4);
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}

/*개발중 상태*/
.developing{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #F39C12;
    font-size: 14px;
    width: calc(100% / 4);
    text-align: center;
}
/*테스트 상태*/
.test{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #27AE60;
    font-size: 14px;
    width: calc(100% / 4);
    text-align: center;
}
/*개발 완료 상태*/
.develop-finish{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #2980B9;
    font-size: 14px;
    width: calc(100% / 4);
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    
}


  /* wrapper2 */
  .wrapper2-1{
      margin-left: 50px ;

  }
  /* (-) 프로필 */
  .Profile{
    height: 95px;
    margin: 30px;
}

#Proli{
    float: right;
    position: relative;
    right: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.Proli{
    float: left;
    position: relative;
    right: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.pro1{
    border: 1px solid gray;
    border-radius: 50px;
    border : none;
}

.pro1Minus{
    width: 20px;
    height: 20px;
    border: 0;
    background-color: #e0e0e0;
    background-image: url("/img/마이너스버튼.png");
    position: relative;
    left: 60px;
    bottom: 5px;
    border-radius: 50%;
    outline: 0;
}

.pro1Minus img{
    position: relative;
    right: 5px;
}

img{
    margin: 0px 20px;
}

.Profile h3{
    float: center;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 20px;
}

/* 중간 검색창 */
.input_text{
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    margin: 30px 0px;
}
input{
    height: 38px;
    width: 450px;
    border: none;
    border-radius: 5px;
    outline: 0;
    float: right;
}
button{
    height: 40px;
    width: 40px;
    float: left;
    border: none;
    border-radius: 5px;
    
}

/* 말풍선 */
.balloonli{
    height: 100px;
    margin: 0px 0px 5px 0px;
}

.balloon {  
    position:relative; 
    left: 10px;
    top: 10px;
    width:410px; 
    height:50px;
    border-radius: 10px;
    background:gray; 
    font-size: 14px;
    text-align: center;
    display: inline-block;
    list-style-type : none;
    
   }

.balloon h3{
    font-size: 14px;
    color: white;
}

.balloon:after { 
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 20px solid gray; 
    content:""; 
    position:absolute;
    top:0px;
    left:-10px;  
    transform : rotate(30deg);

   }

/* 프로필 (+) 버튼 */

.pro1Plus img{
    position: relative;
    right: 6px;
}

/* 프로필 밑 이름 */
.balloonli h3{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 5px;
}

/* 하단 배치 프로필 */
.pro2{
    border: 1px solid gray;
    border-radius: 50px;
    border : none;
    float: left;
}
.pro1Plus{
    width: 20px;
    height: 20px;
    border: 0;
    background-color: #e0e0e0;
    background-image: url("/img/마이너스버튼.png");
    position: relative;
    left: -20px;
    bottom: 5px;
    border-radius: 50%;
    outline: 0;

}

/* 취소,수정 반영 버튼*/
.MyPagebt{
    float: right;
}
   
#cancel{
    width: 100px;
    height: 35px;
    margin: 0px 15px 20px;
    outline: 0;
}

.Apply{
    width: 100px;
    height: 35px;
    margin: 0px 15px 20px;
    background-color: #2E9AFE;
    color: white;
    outline: 0;
}
  