.setting-window-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px 15px 20px 15px;
    border: 1px solid #666666;
    width: 740px;
    overflow: auto;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.4);


}
*
 {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  section {
    display: flex;
  }
  
 
  /* #btnSection */
  #btnSection {
    justify-content: center;
    display: flex;
  }
  #btnSection Button {
    width: 360px;
    height: 40px;
    float: left; /*가로로 배치*/
    border: none; /*버튼 테두리 없애기*/
    border-radius: 0.3rem;
  }
  
  #btnSection Button:first-child {
    margin-right: 20px;
    background-color: #309ce4;
    color: #ffffff;
  }
  
  #btnSection Button:last-child {
    background-color: #e0e0e0;
  }
  
  /*참여한 프로젝트*/
  #wrapper {
    display: block;
  }
  
  /*내가 작성한 글*/
  #wrapper2 {
    display: none;
  }
  
  /*좋아요 누른 글*/
  #myLove {
    display: none;
  }
  
  
  /* wrapper */

  .wrapper{
    display: block;
}
/*창 띄우기 설정*/
.setting-window {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/*하얀창*/
.setting-window-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px 15px 20px 15px;
    border: 1px solid #666666;
    width: 740px;
    overflow: auto;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.4);


}

/*위에 버튼모음*/
#setting-btn {
    display: flex;
    justify-content: space-evenly;
    
}

/*기본정보 버튼*/
.information-btn{
    border-radius: 4px;
    background-color: #309ce4;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    color: #ffffff;

}


/*팀원관리 버튼*/
.teamMember-btn{
    border-radius: 4px;
    background-color: #e0e0e0;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;

}

/*아래 버튼모음*/
#bottom-btn{
    margin-top: 30px;
    overflow: auto;
}

/*삭제 버튼*/
.delete-btn{
    border-radius: 4px;
    background-color: tomato;
    width: 215px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
    color:  #ffffff;
    
}

/*취소 버튼*/
.cancel-btn{
    border-radius: 4px;
    background-color:#e0e0e0;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: right;
    margin-right: 15px;

}

/*수정반영 버튼*/
.commit-btn{ 
    border-radius: 4px;
    background-color: #309ce4;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: right;
    color:  #ffffff;

}

/*컨테이너로 묶음*/
.wrapper{
    width: 620px;
    margin-left: 60px;
}

.container{
    margin-top: 5px;
    overflow: auto;
}


/*불러오기 버튼*/
.empty-div{
    width: 250px;
    height: 100px;
    float: right;
}

.load-btn{
    background-color:#e0e0e0;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    margin-left: 75px;


}



/*이미지 ~ 텍스트*/
.article-content{
    overflow: auto;
    margin-top: 15px;
}

.article-text{
    float: left;
    line-height: 100px;
}

.article-text2{
    float: left;
    line-height: 35px;

}

.article-text3{
    float: left;
    margin-top: 15px;

}


.article-img{
    float: right;
}


/*프로젝트명 텍스트칸*/

.project-name{
    float: right;
    width: 481px;
    height: 31px;
    border: 1px solid#666666;
    border-radius: 4px;
    padding-left: 15px;

}

/*대표 태그 셀랙트박스*/
.Main-tag{
    float: right;
    width: 500px;
    height: 35px;
    border: 1px solid #666666;
    border-radius: 4px;
    padding-left: 15px;

}


/*상태바 모음*/
.status-bar{
    height: 40px;
    display: flex;
    padding-left: 50px;
    margin-top: 10px;
    

}

/*개발 준비중 상태*/
.develop-ready{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #E74c3c;
    font-size: 16px;
    width: calc(100% / 4);
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}

/*개발중 상태*/
.developing{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #F39C12;
    font-size: 16px;
    width: calc(100% / 4);
    text-align: center;
}
/*테스트 상태*/
.test{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #27AE60;
    font-size: 16px;
    width: calc(100% / 4);
    text-align: center;
}
/*개발 완료 상태*/
.develop-finish{
    height: 25px;
    line-height: 25px;
    color:  #ffffff;
    background-color: #2980B9;
    font-size: 16px;
    width: calc(100% / 4);
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    
}

/*화살표 (수정해야됨)*/
.aa{

    flex:none;
}



/******************css reset*****************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


  /* wrapper2 */
  .wrapper2-1{
      margin-left: 50px ;

  }
  .Profile{
    height: 95px;
    margin: 30px;

}

.pro1{
    border: 1px solid gray;
    border-radius: 50px;
}

img{
    margin: 0px 20px;
}

.input_text{
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    margin: 30px 0px;
}
input{
    height: 38px;
    width: 450px;
    border: none;
    border-radius: 5px;
    outline: 0;
    float: right;
}
button{
    height: 40px;
    width: 40px;
    float: left;
    border: none;
    border-radius: 5px;
    
}

.balloon {  
    position:relative; 
    left: 30px;
    top: -35px;
    margin: 0px 0px 30px 20px;
    width:410px; 
    height:50px;
    border-radius: 10px;
    background:gray; 
    font-size: 14px;
    color: white;
    text-align: center;
    display: inline-block;
    list-style-type : circle
    
   }

.balloon:after { 
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 20px solid gray; 
    content:""; 
    position:absolute;
    top:0px;
    left:-10px;  
    transform : rotate(30deg);


   }
   
.cancel{
    width: 100px;
    height: 35px;
    margin: 0px 15px 20px;
    outline: 0;
}

.Apply{
    width: 100px;
    height: 35px;
    margin: 0px 15px 20px;
    background-color: #2E9AFE;
    color: white;
    outline: 0;
}
  