@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

header {
  height: 100px;
  background-color: #309ce4;
}
nav {
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 18px;
}
.search {
  background-color: #309ce4;
  display: flex;
  align-items: stretch;
  width: 270px;
}
.top {
  display: flex;
  height: 1300px;
}
section {
  margin-left: 30px;
}
#TeamCardSection {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 470px;
  box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.2);
}
.team-picture {
  background: url(../img/TeamCard.png) no-repeat center;
  width: 540px;
  height: 260px;
}
.team-year {
  background-color: gray;
  width: 60px;
  height: 26px;
  font-size: 12px;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-information {
  width: 540px;
  height: 210px;
}
.team-header {
  display: flex;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team-name {
  font-size: 22px;
  display: flex;
  margin-left: 50px;
}
.tag-line {
  display: flex;
  margin-left: 200px;
}
.tag-line > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f89b00;
  color: white;
  width: 80px;
  height: 20px;
  border-radius: 10px;
  margin: 0px 10px;
}
.team-introduce {
  margin-left: 50px;
}

.progress-bar {
  margin-top: 30px;
  font-size: 16px;
}

progress {
  margin-top: 10px;
  width: 430px;
  height: 20px;
  border: 0;
}
progress::-webkit-progress-value {
  background: rgb(22, 194, 137);
  border: 0 rgb(211, 211, 211);
  border-radius: 10px;

  width: 300pt;
  height: 20px;
}
progress::-webkit-progress-bar {
  border-radius: 10px;
  background: rgb(179, 179, 179);
}

.TeamCard-Profile {
  display: flex;
}

.profile-img {
  display: block;
  width: 60px;
  height: 60px;
}

.profile-list {
  margin-left: 30px;
  font-size: 16px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
}

.people1 {
  display: flex;
  margin-bottom: 20px;
}
.people1 > span {
  text-align: center;
}
.people2 {
  display: flex;
  margin-bottom: 20px;
}
.people2 > span {
  text-align: center;
}
.people3 {
  display: flex;
  margin-bottom: 20px;
}
.people3 > span {
  text-align: center;
}
.team-part {
  margin-left: 15px;
  margin-block: auto;
  padding-bottom: 15px;
}
.team-part > ul > li {
  margin-left: 15px;
}
