@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap");

body {
  margin: 0px;
  font-family: "Noto Sans KR", sans-serif;
}
/*명예의 전당 위*/

.main {
  background-color: #309ce4;
  width: 1110px;
  margin: auto;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-side-content {
  font-size: 16px;
  color: e0e0e0;
  display: flex;
  align-items: center;
}

.main-title {
  margin-left: 15px;
  font-size: 32px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.naver-list {
  height: 550px;
  border: solid 3px black;
}

.naver-title {
  font-size: 50px;
  margin-left: 40px;
}

.naver-content {
  font-size: 18px;
  display: flex;
  margin-left: 40px;
}

.bast-img img {
  margin-left: 10px;
  width: 70px;
  height: 75px;
}
.person-img img {
  border-radius: 30px;
}

.memo-img img {
  margin-left: 15px;
}

.twitter-img img {
  margin-left: 30px;
  border-radius: 30px;
}

.list-container {
  display: flex;
}

.list {
  margin-left: 15px;
  width: 80px;
  height: 20px;
  background: #fff;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
}

.person-list-first {
  margin-top: 40px;
  display: flex;
}

.person-list {
  margin-top: 20px;
  display: flex;
}

.person-data {
  margin-left: 15px;
}

/*명예의 전당 아래*/

.container {
  width: 1070px;
  margin: auto;
  margin-top: 20px;
}
.successive-generations {
  display: flex;
  margin-bottom: 60px;
}
.successive-generations span {
  font-size: 32px;
  margin-right: 10px;
}
.project {
  display: flex;
  margin-bottom: 60px;
}
.project .project-img {
  margin-right: 30px;
}

.project .lang {
  margin-right: 15px;
  width: 80px;
  height: 20px;
  background: #f89b00;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
}

.project-second {
  display: flex;
  text-align: right;
  margin-bottom: 60px;
}
.project-second .lang {
  margin-left: 15px;
  width: 80px;
  height: 20px;
  background: #f89b00;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
}

.project-second .project-img {
  margin-left: 30px;
}

.project-name span {
  font-size: 34px;
}
.project-name p {
  font-size: 16px;
}
.lang-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.project-second .lang-container {
  justify-content: flex-end;
}

.project-teamName {
  display: flex;
  align-items: center;
}
.project-teamName .teamName {
  margin-right: 30px;
}
.project-teamName .person-img img {
  border-radius: 30px;
  margin-right: 15px;
}

.project-teamName-second {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.project-teamName-second .teamName {
  margin-left: 30px;
}
.project-teamName-second .person-img img {
  border-radius: 30px;
  margin-left: 15px;
  border-radius: 30px;
}
.project #gasipan {
  margin-right: 5px;
  margin-left: 15px;
}
#twitter {
  border-radius: 30px;
}

.project-second #gasipan {
  margin-right: 15px;
  margin-left: 5px;
}

.img-person {
  text-align: center;
}
.person-img-figure {
  margin: 0px;
}
