@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

.history-title .listed-title {
    font-family: 'Noto Sans KR', sans-serif;
}

.article-box {
    padding: 75px 50px 75px 50px;
    width: 700px;
    height: auto;
}

/* 타이틀 */
.history-title {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
}

/* 이미지 */
.history-img {
    width: 700px;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
}

.img {
    width: 50%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

/* 연혁 */
.history-table {
    margin-bottom: 10px;
    width: 700px;
}

.his-box {
    display: flex;
    justify-content: space-around;
    
}

.middle-bar {
    width: 100%;
    height: 15px;
    background-color: #666666;
    border-radius: 15px;
}

.text-box{
    display: flex;
    flex-direction: column;
}

.history-top > .listed-box > .text-box {
    margin-top: 10px;
    margin-bottom: 30px;
}

.history-bottom > .listed-box > .text-box {
    margin-top: 30px;
    margin-bottom: 5px;
}

.listed-box {
    display: flex;
}

.listed-bar {
    width: 10px;
    min-height: 90px;
    background-color: #f89b00;
    border-radius: 15px;
}

.listed-title {
    font-size: 18px;
    font-weight: bold;
    color: #f89b00;
    margin-left: 10px;
    padding-bottom: 10px;
}

.listed-li {
    font-size: 14px;
    padding-bottom: 5px;
    margin-left: 10px;
    list-style-position: inside;
    list-style-type: none;
}

li::before {
    content: "• ";
}

.history-top > .listed-box {
    position: relative;
    top: 20px; 
}

.history-top > .listed-box > .listed-bar .text {
    position: absolute; 
}

.history-bottom > .listed-box {
    position: relative; 
    bottom:20px;
}

.history-bottom > .listed-box > .listed-bar .text-box {
    position: absolute;
}

/*  스크롤바  */
.table-scroll {
    overflow-x:scroll;
    overflow-y:hidden;
    width: 700px;
    white-space: nowrap;
}

.table-scroll::-webkit-scrollbar {
    height: 15px;
    width: 100px;
}

.table-scroll::-webkit-scrollbar-thumb {
    background-color: #309ce4;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    box-shadow: inset 0px 0px 5px #300ce4;
}

.table-scroll::-webkit-scrollbar-track {
    background-color: #D8CEF6;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

