.left{float: left;}
.right{
    float: right;
}
iframe{
    border: none;
}
ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.as{
    list-style: none;
    padding: 35px;
}
.bar{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
aside{
    background-color: #309ce4;
    width: 400px;
}