* {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

section {
  display: flex;
  justify-content: center;
}

.profile {
  width: 315px;
  height: 300px;
  align-items: center;
  display: flex;
}

.picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("/img/profile.jpg");
  background-color: #309ce4;
  object-fit: cover;
  background-size: cover;
}

.info {
  margin-left: 20px;
}

.role {
  margin-top: 25px;
}

.name {
  margin-top: 5px;
  font-size: 20px;
}

.modifybtn {
  background-color: #309ce4;
  width: 100px;
  border: 0;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  float: right;
}

.plusbtn1 {
  width: 20px;
  height: 20px;
  border: 0;
  background-color: #e0e0e0;
  background-image: url("/img/plusbtn.png");
  margin-left: 10px;
  display: flex;
}

.plusbtn2 {
  width: 20px;
  height: 20px;
  border: 0;
  background-color: #e0e0e0;
  background-image: url("/img/plusbtn.png");
  margin-left: 10px;
  display: flex;
}

.cogwheel {
  width: 25px;
  height: 25px;
  border: 0;
  background-size: cover;
  background-image: url("/img/cogwheel.jpg");
  margin-top: 8px;
  margin-left: 5px;
}

.rside {
  height: 210px;
  background-color: #e0e0e0;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.rside > div {
  margin-left: 20px;
}

.combinebtns {
  height: 0px;
  /* display: none; */
}

.combinebtns2 {
  height: 20px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.profile3 > input[type="text"] {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 12px;
  margin-left: 30px;
  width: 500px;
}

.message {
  display: flex;
}

.interest1 {
  background-color: #f89b00;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  text-align: center;
  color: #fff;
  line-height: 20px;
  margin-left: 35px;
  font-size: 12px;
}

.minusbtn1 {
  width: 20px;
  height: 20px;
  border: 0;
  background-color: #e0e0e0;
  background-image: url("/img/minusbtn.png");
  position: relative;
  left: 95px;
  bottom: 32px;
  border-radius: 50%;
}

.minusbtn2 {
  width: 20px;
  height: 20px;
  border: 0;
  background-color: #e0e0e0;
  background-image: url("/img/minusbtn.png");
  position: relative;
  left: 95px;
  bottom: 32px;
  border-radius: 50%;
}

.field {
  display: flex;
}

.language {
  display: flex;
  margin-top: 15px;
}

.interest2 {
  background-color: #f89b00;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  text-align: center;
  color: #fff;
  line-height: 20px;
  margin-left: 15px;
  font-size: 12px;
}

.interestlang1 {
  background-color: #f89b00;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  text-align: center;
  color: #fff;
  line-height: 20px;
  margin-left: 35px;
  font-size: 12px;
}

.interestlang2 {
  background-color: #f89b00;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  text-align: center;
  color: #fff;
  line-height: 20px;
  margin-left: 15px;
  font-size: 12px;
}

.interestlang3 {
  background-color: #f89b00;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  text-align: center;
  color: #fff;
  line-height: 20px;
  margin-left: 15px;
  font-size: 12px;
}

textarea {
  width: 500px;
  margin-left: 35px;
  padding-left: 15px;
  padding-top: 5px;
  resize: none;
}

.container {
  display: flex;
}

.textbox {
  width: 500px;
}

.triangle {
  margin-top: 112.5px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e0e0e0;
}

.passwdbox {
  width: 470px;
  height: 280px;
  box-shadow: 10px 10px 10px #666666;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  display: none;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px,
    rgba(0, 0, 0, 0.5) 2px 2px 3px 3px;
}

.title {
  font-size: 26px;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text {
  margin-left: 15px;
  margin-right: 15px;
}

.btns {
  display: flex;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-right: 8px;
  border-radius: 0.5rem;
  float: right;
}

.resetbtn {
  width: 100px;
  height: 35px;
  background-color: #e0e0e0;
  border: none;
  outline: none;
}

.reflectbtn {
  margin-left: 15px;
  margin-right: 15px;
  width: 100px;
  height: 35px;
  background-color: #309ce4;
  border: none;
  outline: none;
  color: #ffffff;
}

.text > input[type="text"] {
  margin-left: 15px;
  padding-left: 15px;
  width: 300px;
  height: 40px;
}

.text > input[type="password"] {
  margin-left: 15px;
  padding-left: 15px;
  width: 300px;
  height: 40px;
}

.passwdbox2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* #btnSection */
#btnSection {
  justify-content: center;
  display: flex;
  margin-bottom: 45px;
}
#btnSection Button {
  width: 315px;
  height: 30px;
  float: left; /*가로로 배치*/
  color: #333;
  border: none; /*버튼 테두리 없애기*/
  border-radius: 0.3rem;
}

#btnSection Button:first-child {
  margin-right: 20px;
}

#btnSection Button:last-child {
  margin-left: 20px;
}

/*참여한 프로젝트*/
#myProject {
  display: block;
}

/*좋아요 누른 글*/
#myLove {
  display: none;
}

.love-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(315px, auto));
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
}

/*내가 작성한 글*/
#myContent {
  display: none;
}

.content-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(315px, auto));
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
}

/*내가 작성한 글 박스*/
.div {
  width: 315px;
}

.myContentHeader {
  display: flex;
  position: relative;
}

.today {
  color: #9e9e9e;
  font-size: 12px;
}

.myImage {
  width: 30px;
  height: 30px;
  border-radius: 1rem;
  border: 1px solid #666666;
  margin-right: 5px;
}

.myName {
  margin: auto;
  font-size: 14px;
}

.myContentBody {
  width: 315px;
  margin-bottom: 50px;
}

.myContentBody div {
  width: 315px;
  height: 120px;
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #666666;
}

.myContentBody h2 {
  font-size: 16px;
}

.myContentBody p {
  font-size: 14px;
}

.myProject li:first-child {
  margin-right: 20px;
}

.myProject li:last-child {
  margin-left: 20px;
}

.count-none {
  width: 0 !important;
  opacity: 0;
  height: 0 !important;
}

.count-view {
  width: 100%;
  opacity: 1;
}

.right-align {
  position: absolute;
  right: 0;
}
