/*창 띄우기 설정*/
.setting-window {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/*하얀창*/
.setting-window-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px 15px 20px 15px;
    border: 1px solid #888;
    width: 740px;
    overflow: auto;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.4);


}

/*위에 버튼모음*/
#setting-btn {
    display: flex;
    justify-content: space-evenly;
    
}

/*기본정보 버튼*/
.information-btn{
    border-radius: 4px;
    background-color: tomato;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;

}


/*팀원관리 버튼*/
.teamMember-btn{
    border-radius: 4px;
    background-color: gray;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;

}