/* 다른 프로젝트하고 코드가 겹치기 않도록 지정한 이름 */
.join {
  width: 1070px;
  text-align: left;
}
/* 동아리 지원하기 '큰 제목' */
.join #apply_comon {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  text-align: center;
}
/* 기본 정보, 관심 활동과정 등 '부 제목' */
.join #basic-information {
  margin-top: 10px;
  padding: 10px; /* 부 제목과 밑줄 사이의 간격용 */
  font-size: 24px;
  border-bottom: 1px solid black; /* 부 제목 아래의 밑줄 */
}
/* 내용의 왼쪽, 위쪽 여백 (그림 참조할 것)*/
.join .margin {
  margin: 30px;
}
/* 기본 정보의 이름, 학번, 연락처, 관심 분야 등 label 글씨용 */
.join .input-word {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
.join #form {
  margin-top: -35px;
  display: flex;
  align-items: left;
}
.input-contentbox {
  display: inline-block;
  width: 300px;
  height: 40px;
  margin-right: 20px;
}
.input-dropdown {
  width: 150px;
  height: 40px;
  margin-right: 20px;
}
