.join{
  width: 1070px;
  text-align: left;
}
.join #title-main{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  text-align: center;
}
.join #title-sub{
  margin-top: 10px;
  padding: 10px; 
  font-size: 24px;
  border-bottom: 1px solid black;
}
.join .content{
  margin: 30px;
}
.join .content #box-three{
  margin-top: -35px;
  display: flex;
  align-items: left;
}